.navbar{
    overflow: hidden;
    background:  rgb(0, 0, 0);
    color: aliceblue;
    list-style-type: none;
}
.container {
    width: 80%;
    margin: auto;
}


img{
    width: 50px;
    height: 50px;
    float: right;
}
ul{
   
    float: left;
    font-size: 20px;
    margin-top: 10px;
    list-style-type: none;
}
ul a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 15px;
}
ul a:hover{
    color: rgb(195, 1, 1);

}
ul a:active{
    color: rgb(255, 0, 0)
    
}
ul a:link{
    color: aliceblue;
}

#logo{
    width: 80px;
    height: 80px;
    float: right;
}