.infoveh{
  border: 2px rgb(255, 255, 255) solide;
  height: 525px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.781);
  color: azure;
  overflow-y:auto;
  width: 100px;
  float: left;
  border-radius: 10px;
}
#rechercheveh{
  
  width: 350px;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
}
#listeveh{
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:left;
  margin-top: 5px;
  width: 300px;  
  border-radius: 10px;
}
.blocrecherche{
    
  width: 100%;
  height:60px;
  background-color: rgba(241, 237, 237, 0.52);
  border-radius: 10px;
  margin-bottom: 10px;
 
}
.blocrecherche:hover{
    
  width: 100%;
  height:60px;
  background-color: rgba(190, 13, 13, 0.52);
  border-radius: 10px;
  margin-bottom: 10px;
}



#fi{
    float: right;
    padding: 5px;
    
}
#imgv{
    width: 15px;
    height: 15px;
}
#tv{
  font-size: 20px;
  width: 350px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px rgba(241, 237, 237, 0.52) solid;
 
  
}
#tv:hover{
  font-size: 20px;
  width: 350px;
  border-radius: 10px;
  color: rgb(185, 8, 8);
  background-color: transparent;
  border: 1px rgba(253, 6, 6, 0.835) solid;
}
#tv:active{
  font-size: 20px;
  width: 350px;
  border-radius: 10px;
  color: rgb(117, 20, 20);
  background-color: transparent;
  border: 1px rgba(138, 107, 107, 0.52) solid;
}


.bodyinfoveh{
  border: 2px rgb(255, 255, 255) solide;
  height: 525px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.781);
  color: azure;
  width: 970px;
  float: right;
  border-radius: 10px;
}

/* overflow style*/
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(195, 1, 1); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4da; 
  }