.vehicule{
    border: 1px #ff87 solide;
    width: 500px;
   
    background-color: rgba(241, 237, 237, 0.52);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    margin-left: 425px;
    border-radius: 10px;
    }
 #voi{
        
        width: 300px;
        height: 300px;
        float: left;
        filter: invert(100%); 
        -webkit-filter: invert(100%);
        margin-left: 40px;
        border-radius: 10px;
    }

    .papier{
        border: 1px #ff87 solide;
        width: 500px;
        background-color: rgba(241, 237, 237, 0.52);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        color: azure;
        float: right;
        
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 10px;
     
    }
    legend{
        text-align: center;
    }
 #gif{
        float: left;
        width: 300px;
        height: 300px;
        filter: invert(200%); 
        -webkit-filter: invert(67%);
        margin-left: 60px;
    }
