h1 {
  color: rgb(5, 1, 1);
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
}
body {
  font-family: "Courier New", Courier, monospace;
}
button {
  border-radius: 5px;
  background-color: transparent;
  border: transparent;
}

button:hover {
  border-radius: 7775px;
  background-color: rgb(253, 253, 253);
  border: transparent;
}
#loadgif {
  width: 200px;
  height: 200px;
  margin-right: 15%;
  filter: hue-rotate(320deg) sepia(20%);
}
.Loader {
  width: 350px;
  height: 350px;
  margin-left: 510px;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 2%;
}
#loadtext {
  text-align: center;
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
